doctype html
html
  head
    meta(charset="utf-8")
    title Minimum Viable JavaScript Development
    link(href="./main.css" rel="stylesheet")
  body
    main
    footer
      | Luca Nils Schmid – 2016-07-13, Passsugg CH
    script(src="./main.js")

