doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title CV – Luca Nils Schmid
    link(href="./main.css" rel="stylesheet")
  body
    header
      nav.nav--main
        ul
          li
            a(href="https://lucaschmid.net") Website
          li
            a(href="./lebenslauf.pdf").pdf-link PDF
      nav.nav--lang
        ul
          li
            a(href="#de") Deutsch
          li
            a(href="#en") English
    main
    footer
      | Luca Nils Schmid – 2016-07-14, Passsugg CH
    script(src="./main.js")

