*, *::before, *::after {
  box-sizing: border-box;
}

footer {
  text-align: right;
  font-style: italic;
  padding-top: 4rem;
}

img {
  width: 100%;
  max-width: 25rem;
}

nav ul {
  margin: 0;
}

nav li::after {
  content: '|';
  margin-left: .4rem;
}

nav li:last-child::after {
  content: none;
}

a.active {
  text-decoration: underline;
}

hr {
  height: 1px;
  padding: 0;
  margin: 1.5rem 0 0;
  width: 100%;
  background-color: #ddd;
}

h1:first-child {
  margin-top: 0;
}

.textupdater__plate {
  min-height: 100vh;
  padding: 1.5rem 2rem;
}

@media (min-width: 340px) {
  header {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 680px) {
  nav ul {
    margin: 0 1rem;
  }
}

