footer {
  text-align: right;
  font-style: italic;
  padding-top: 4rem;
}

img {
  width: 100%;
  max-width: 25rem;
}

nav li::after {
  content: '|';
  margin-left: .4rem;
}

nav li:last-child::after {
  content: none;
}

hr {
  height: 1px;
  padding: 0;
  margin: 1.5rem 0 0;
  width: 100%;
  background-color: #ddd;
}

